@using CourseManager.Models


@{
     var site = (CourseManager.Models.Websiteinfo)ViewBag.Site;
    
    }

<h2>Site</h2>
<div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("将你的徽标放置在此处", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>       
                        <ul id="menu">
                            @foreach(var link in site.ActionLinks){
                            <li>@Html.ActionLink(link.Name, link.Action, link.Controller)</li>
                            }
                            
                        </ul>
                    </nav>
                </div>
            </div>